
<meta charset="ISO-8859-1">
<title>Insert title here</title>
    <h1><small>hello</small></h1>

	<p>A song, most broadly, is a single (and often standalone) work of
		music that is typically intended to be sung by the human voice with
		distinct and fixed pitches and patterns using sound and silence and a
		variety of forms that often include the repetition of sections.
		Written words created specifically for music or for which music is
		specifically created, are called lyrics. If a pre-existing poem is set
		to composed music in classical music it is an art song. Songs that are
		sung on repeated pitches without distinct contours and patterns that
		rise and fall are called chants. Songs in a simple style that are
		learned informally are often referred to as folk songs. Songs that are
		composed for professional singers who sell their recordings or live
		shows to the mass market are called popular songs. These songs, which
		have broad appeal, are often composed by professional songwriters,
		composers and lyricists. </p>

