<div class="part2">


        <div id="#part5" align="left">
    <img alt="music" src="image\\m.jpg" width="80px" height="80px" />
      </div>
    <div id="part6" align="right"  ng-hide="hide" >
            <input type="button" class="button" ng-click="open()" class="btn btn-info btn-lg"
           data-toggle="modal" value="register"/><!-- data-target="#myModal"-->
      </div>
</div>

<div id="part4" ng-show="hide1"  >       <!--ng-view="included"  ng-show="location = '/'"-->

            <input type="text" id="FirstName" name="FirstName" placeholder="enter first name" ng-model="FirstName">
           <!-- <h3 style="color: #7DFF7D">{{FirstName}}</h3>-->
            <button class="button" ng-click="submit()">submit</button>
             </div>
    <!-- <div ng-view></div>-->


</div>